@font-face {
  font-family: 'czizh';
  src: url(/mainFonts/czizh.ttf);
}

@font-face {
  font-family: 'caviar';
  src: url(/mainFonts/caviar.ttf);
}

@font-face {
  font-family: 'ac';
  src: url(/mainFonts/ac.ttf);
}

@font-face {
  font-family: 'hero';
  font-weight: 100;
  src: url(/mainFonts/heroThin.ttf);
}

@font-face {
  font-family: 'hero';
  font-weight: 500;
  src: url(/mainFonts/heroRegular.ttf);
}

@font-face {
  font-family: 'zekton';
  src: url(/mainFonts/zekton.ttf);
}

body {
  margin: 0; padding: 0;
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: 'hero';
}